*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    height: 100px;
}
.logo img{
    height: 100%;
    width: 100%;
}
.pic{
    /* width: 400px; */
    height: 500px;
}
.pic img{
    width: 100%;
    height: 100%;
}
.me{
    height: 350px;
    width: 400px;
    
}
.me img{
    height: 100%;
    width: 100%;
}
.what{
    width: 400px;
    height: 250px;
}
.what img{
    height: 100%;
    width: 100%;
}
.cardimg{
    width: 410px;
    height: 255px;
}
.cardimg img{
    height: 100%;
    width: 100%;
}
.my p{
    text-align: justify;
}
.what:hover{
    
}
.mrs{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.mob{
    position: relative;
}
.card-body a{
    
  background: darkcyan;
  transition: width 2s;
}